<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://szblazor.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/37361be9-1068-463c-b538-3ed198c8ae4d/resourcegroups/SzBlazor20240316191651ResourceGroup/providers/Microsoft.ContainerRegistry/registries/SzBlazor</ContainerResourceId>
    <ContainerResourceName>SzBlazor</ContainerResourceName>
    <Subscription>Pay-As-You-Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>szblazor.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/37361be9-1068-463c-b538-3ed198c8ae4d/resourcegroups/SzBlazor20240316191651ResourceGroup/providers/Microsoft.Web/sites/SzBlazor</ResourceId>
    <ResourceGroup>SzBlazor20240316191651ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://szblazor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ebbcd378-3414-4210-b6fb-2fd0bc33a846</ProjectGuid>
  </PropertyGroup>
</Project>